html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #fff;
	font-family: Lucida Console, Courier, monospace;
	width: 70%;
	margin: 2em;
}

form {
	border: 5px solid #555;
	padding: 5em 10em;
}

h1 {
	margin-bottom: 1em;
}

.product h2 {
	color: #fff;
	padding: 1em;
}

.product {
	margin: 2em;
	background-color: #555;
	border: 1px solid #555;
}

div.item {
	padding: 2em 2em 2em 5em;
	margin: .5em;
	background-color: #fff;
	
}

#lastchild {
	margin-bottom: 3em;
}

.item a {
	color: #333;
	text-decoration: underline;
}

.item a:hover {
	color: #555;
	text-decoration: none;
}

div#result {
	margin: 3em;
}


#reqmsg {
	color: red;
}

#errormsg {
	padding: .5em;
	font-size: .8em;
	margin-bottom: 2em;
	color: red;
}